/* *{outline:solid 1px #ff0000;} */
html{
    font-family: sans-serif;
    margin:0;
    padding:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    font-size: 18px;
}
section{
    position:relative;
    display: block;
    height:auto;
}
h3 {
    color: #807d7d;
    font-weight: 450;
    margin-bottom: 5px;
}
li {
    line-height: 32px;
    color: #252525;
    list-style-type: circle;
}
button {
    padding: 15px 25px;
    border: solid 1px #13151b;
    text-transform: uppercase;
    outline: 0;
}

h1.lead-h1 {
    font-size: 300%;
    font-weight: 500;
    margin: 0;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 8px rgba(0,0,0,0.20);
}
p.lead-p {
    text-shadow: 0 2px 2px rgba(0,0,0,0.20);
    line-height: 32px;
    font-size:20px;
}


.container{
    width:100%;
    max-width:1170px;
    margin:0 auto;
    padding:60px;
}
.flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Center vertically */
    align-items: center;

    /*Center horizontaly */
    justify-content: center;
    /*Center horizontaly ie */
    -ms-flex-pack: center;
    -ms-flex-align:center;
}
.transparent {
    height: 100%;
    width: 100%;
    position: relative;
}
.center-text{
    text-align:center;
}

/* @Top Bar */
nav#navbar{
    display:block;
    width:100%;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.20);
    font-size: 14px;
}
#navbar .container{
    min-height:60px;
    padding:5px 60px;
    justify-content: space-between;
    align-items: center;
    display:flex;
}
#navbar .container a{
    text-decoration:none;
    color:#222;
}
.site-contact a{
    border-left: solid 1px rgba(0,0,0,.07);
    margin-left: 15px;
    padding-left: 15px;
}
.site-title::after{
    content:"Bradley B. Dalina";
    text-transform:uppercase;
    font-weight:bold;
}
.site-email::after{
    content:"bdalina54@gmail.com";
}
.site-number::after{
    content:"+639264482952";
}

/* @Header Section */
.webp header#header{background-image:url(../images/emma-matthews-558684-unsplash.webp);}
.no-webp header#header{background-image:url(../images/emma-matthews-558684-unsplash.jpg);}
header#header {
    position:relative;
    color:#fff;
    background-size: cover;
    background-attachment: fixed;
}
header#header .transparent{
    position:relative;
    min-height: 470px;
    color:#fff;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color: rgb(242,242,242);
    background: -moz-linear-gradient(90deg, rgb(45, 50, 66) 56%, rgba(45, 50, 66,0.95) 100%);
    background: -webkit-linear-gradient(90deg, rgb(45, 50, 66) 56%, rgba(45, 50, 66,0.95) 100%);
    background: linear-gradient(90deg, rgb(45, 50, 66) 56%, rgba(45, 50, 66, 0.90) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d3242",endColorstr="#2d3242e6",GradientType=1);
}
header#header::after {
    content: "";
    height: 2px;
    background: #fffefd;
    width: 100%;
    position: absolute;
    bottom: 3px;
}
#header .container{
    align-items: center;
    display:flex;
}
#header .profile {
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: center;
    margin: 0 -15px;
}
#header .profile  .photo {
    margin: 0 15px;
}
#header .profile  .intro {
    margin: 0 15px;
}
#header .profile img {
    border-radius: 50%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width:100%;
    height:100%;
}
#header .profile a figure {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border-radius: 50%;
    margin: 0;
    border: solid 5px #fff;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.10);
}
#header .profile a figure:focus img, #header .profile a figure:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#header .profile a figure:focus figcaption, #header .profile a figure:hover figcaption {
    opacity: 1;
    color: #fff;
}
#header .profile a figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,.34);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #fff;
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: center;
    /*Center horizontaly */
  justify-content: center;
  /*Center horizontaly ie */
  -ms-flex-pack: center;
  -ms-flex-align:center;
}
#header .profile a figure figcaption .caption-content i {
    font-size: 35px;
}
#header .profile a figure figcaption .caption-content p {
    margin-bottom: 0;
    font-weight: 400;
}

/* @Skills Section */
section#skills{
    position:relative;
}
section#skills .transparent{
    min-height:470px;
    display:flex;
    align-items: center;
}
section#skills h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}
section#skills ul{
    padding-top:15px;
    margin-left: 90px;
}

section#skills .container{
    padding-bottom: 30px;
}
section#skills::before {
    position: absolute;
    content: '';
    width: 50.1%;
    height: 90px;
    bottom: -45px;
    left: 0px;
    transform: skewY(6deg);
    background-color: #fff;
    z-index: 2;
    border-bottom: solid 1px #c5c5c5;
}
section#skills::after {
    position: absolute;
    content: '';
    width: 50.1%;
    height: 90px;
    bottom: -45px;
    right: 0px;
    transform: skewY(-6deg);
    background-color: #fff;
    z-index: 2;
    border-bottom: solid 1px #c5c5c5;
}

/* @Services Section */
section#services{
    position:relative;
}
section#services::before {
    position: absolute;
    content: '';
    width: 50.1%;
    height: 90px;
    bottom: -45px;
    left: 0px;
    transform: skewY(6deg);
    background-color: #f1f1f1;
    z-index: 2;
    border-bottom: solid 1px #c5c5c5;
}

section#services::after {
    position: absolute;
    content: '';
    width: 50.1%;
    height: 90px;
    bottom: -45px;
    right: 0px;
    transform: skewY(-6deg);
    background-color: #f1f1f1;
    z-index: 2;
    border-bottom: solid 1px #c5c5c5;
}
section#services .transparent{
    background-color:#f1f1f1;
    min-height:550px;
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: center;
}
section#services .container{
    padding-top:150px;
    padding-bottom:0px;
}
section#services .container .services-wrap{
    display:flex;
    justify-content: space-between;
    height:100%;
    margin:30px -15px 0 -15px;
}
section#services .container a.services-list{
    text-align: center;
    padding:60px 15px 15px 15px;
    margin:0 15px;
    width:calc(100% / 3 - 15px);
    border:solid 1px #ddd;
    flex: 1;
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: center;
    flex-direction: column;
    /*Center horizontaly */
  justify-content: center;
  /*Center horizontaly ie */
  -ms-flex-pack: center;
  -ms-flex-align:center;
    transition:all linear .2s;
    position:relative;
    color: #252525;
    text-decoration: none;
}
section#services .container .services-list:hover{
    border: solid 1px #2d3242;
    background-color: #fff;
}
section#services .container .services-list:hover .feature-icon{
    transition:all linear .2s;
    box-shadow: 1px 0 10px rgba(0,0,0,.6);
}
section#services .feature-icon {
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: center;
    /*Center horizontaly */
  justify-content: center;
  /*Center horizontaly ie */
  -ms-flex-pack: center;
  -ms-flex-align:center;
    position: absolute;
    top: -60px;
    padding: 20px;
    background-color: #2d3242;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    height: 60px;
    border: solid 4px #fff;
    box-shadow: 0 0 0 1px #2d3242;
    transition:all linear .2s;
}
section#services h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

/* @Portfolio Section */
section#portfolio h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    color: #888;
}
section#portfolio .container{
    padding-top:150px;
}
section#portfolio::after {
    content: "";
    height: 2px;
    background: #ddd;
    width: 100%;
    position: absolute;
    bottom: 3px;
}
section#social{
    position:relative;
}
section#social h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    color: #252525;
}
section#social .transparent{
    background: #f1f1f1;
}
section#social::after {
    content: "";
    height: 1px;
    background: #ddd;
    width: 100%;
    position: absolute;
    bottom: -4px;
    z-index: 2;
}
.social-links {
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: center;
    /*Center horizontaly */
  justify-content: center;
  /*Center horizontaly ie */
  -ms-flex-pack: center;
  -ms-flex-align:center;
    margin: 25px;
}
.social-links a {
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    padding: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    /*Center horizontaly */
  justify-content: center;
  /*Center horizontaly ie */
  -ms-flex-pack: center;
  -ms-flex-align:center;
    text-decoration: none;
    color: #fff;
    background-color: #2d3242;
    margin: 0 5px;
    outline: 0;
}
.social-links a:hover{
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.60);
}

/* @Working Experience Section */
.webp section#working-experience{background-image: url(../images/architecture-black-and-white-buildings-1437493.webp);}
.no-webp section#working-experience{background-image: url(../images/architecture-black-and-white-buildings-1437493.jpg);}
section#working-experience {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
}
section#working-experience .transparent{
    background-color:rgba(255,255,255,0.94);
}
section#working-experience h2 {
    text-transform: uppercase;
    color: #888;
    font-size: 30px;
    font-weight: normal;
    border-bottom: solid 1px #ddd;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position:relative;
}
i.show-all.fa.fa-chevron-up, i.hide-all.fa.fa-chevron-down {
    font-size: 16px;
    padding: 15px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.timeline {
    margin: 60px 0 0px 120px;
}
.row {
    padding-bottom: 30px;
    position: relative;
}
.row::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgb(238,238,238);
    background: -moz-radial-gradient(circle, rgba(238,238,238,1) 22%, rgba(221,221,221,1) 81%);
    background: -webkit-radial-gradient(circle, rgba(238,238,238,1) 22%, rgba(221,221,221,1) 81%);
    background: radial-gradient(circle, rgba(238,238,238,1) 22%, rgba(221,221,221,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#dddddd",GradientType=1);
    padding: 5px;
    left: -90px;
    border-radius: 55%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
    border: solid 10px #fff;
    z-index: 2;
}
.row::after {
    content: "";
    display: block;
    border-left: solid 1px #ddd;
    height: 100%;
    width: 0px;
    position: absolute;
    margin-right: 30px;
    background: #ddd;
    left: -60px;
    top: 0;
    bottom:0;
}
.row:last-child::after {
    display:none;
    content:"";
    border-left: 0
    height:0;
    width: 0;
    position: unset;
    margin-right: 0;
    background:0;
    left:0;
}
.row h3{
    margin-top: 0;
    margin-bottom:15px;
    cursor: pointer;
}

.hide{
    overflow: hidden;
    opacity:0;
    transition:all 1s ease-out;
}
.show{
    overflow: hidden;
    transition:all 1s ease-in;
    opacity:1;
}
section#working-experience a.view-image {
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 15px;
    border-radius: 15px;
    color: #2d3242;
    background-color: #f1f1f1;
    transition:all linear .5s;
}
a.view-image:hover{
    background-color:#e2e2e2;
    transition:all linear .5s;
}

/* @Contact Section */
.webp section#contact{background-image: url(../images/emma-matthews-558684-unsplash.webp);}
.no-webp section#contact{background-image: url(../images/emma-matthews-558684-unsplash.jpg);}
section#contact{
    background-size: cover;
    position: relative;
    color:#fff;
}
section#contact::after {
    content: "";
    height: 2px;
    background: #fffefd;
    width: 100%;
    position: absolute;
    bottom: 3px;
}
section#contact .transparent{
    background-color: rgb(242,242,242);
    background: -moz-linear-gradient(90deg, rgb(45, 50, 66) 56%, rgba(45, 50, 66,0.95) 100%);
    background: -webkit-linear-gradient(90deg, rgb(45, 50, 66) 56%, rgba(45, 50, 66,0.95) 100%);
    background: linear-gradient(90deg, rgb(45, 50, 66) 56%, rgba(45, 50, 66, 0.90) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d3242",endColorstr="#2d3242e6",GradientType=1);
    min-height:470px;
}
section#contact h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position:relative;
}
section#contact p{
    line-height:32px;
}
section#contact ul{
   margin-left: 90px;
}
section#contact ul li{
    color:#fff;
}
/* section#skills form {
    width: 65%;
}
section#skills .form-body {
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    flex-direction: column;
}
.form-input {
    padding: 12px 15px;
    margin-bottom: 10px;
    border: solid 1px #2d3242;
    outline:0;
} */

/* @Footer Section */
footer#footer .container{
    padding:40px 60px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer#footer a{
    text-decoration: none;
    color:#222;
}


div#image-viewer {
    justify-content: center;
    display: none; /*flex;*/
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:transparent;
    transition:background-color ease-in-out 3s;
}
div#image-viewer.active{
    display: -ms-flexbox;
    display: -webkit-flex;
}

div#image-viewer picture {
    border: solid 1px rgba(0,0,0,0.60);
    display: block;
    box-shadow: 0 0 0 5px #ffffff;
}

div#image-viewer .caption-content {
    color: #f1f1f1;
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
div#image-viewer .caption-content #close-viewer{
    text-decoration: none;
    color:#f1f1f1;
}
